<body>
<div class="container mt-4">

  <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input required type="text" id="firstName" class="form-control" formControlName="firstName" />
    </div>

    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName" />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" />
    </div>

    <div class="form-group">
      <label for="lastName">Mot de passe</label>
      <input type="text" id="password" class="form-control" formControlName="password" />
    </div>

    <button type="submit" class="btn yellowButton">S'inscrire</button>

  </form>

</div>
</body>
