.footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #EDD1A1;
}


.footer .float-left {
  float: left;
}

.footer .float-right {
  float: right;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #fff;
  padding: 20px 40px;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.social-icons i {
  margin-right: 10px;
  font-size: 24px;
}

.stars {
  font-size: 24px;
}

.footer-bottom {
  clear: both;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555;
}
