<footer class="footer bg-light text-light">

  <button (click)="showContactModal = true">Contact</button>
  <div class="modal" [class.active]="showContactModal">
    <app-contact-modal (closeEvent)="closeContactModal($event)"></app-contact-modal>
  </div>

  <button  (click)="showScheduleModal = true">Consultez nos horaires</button>
  <div class="modal" [class.active]="showScheduleModal">
    <app-horaires-modal (closeEvent)="closeScheduleModal($event)"></app-horaires-modal>
  </div>

</footer>
