.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDD1A1;
  min-height: 50px;
  height: 62px;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-brand {
    flex-grow: 0;
    margin-right: 0;
  }

  .navbar-collapse {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;

    .nav-item {
      padding: 0 1rem;
      color: black;

      .nav-link {
        color: inherit;
        transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;

        &:hover, &:focus {
          color: #FFF;
          background-color: darken(#EDD1A1, 10%);
          padding: 0.5rem 1rem;
          border-radius: 4px;
          transform: translateY(-2px);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .nav-item:last-child {
      margin-left: auto;
    }
    .nav-item:nth-child(4) {
      margin-left: 600px;
    }

  }

  .navbar-nav {
    align-items: center;
    .nav-item {
      padding: 5px 15px;

    }
    .nav-item:last-child {
      margin-left: auto;
    }
  }
}



