<body>
<div *ngIf="cartItems.length === 0">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Votre panier est vide.</strong>
  </div>
</div>
<div *ngIf="cartItems.length !== 0">
  <table class="table text-center">
    <thead class="table-warning">
    <tr>
      <th>Produit</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price * item.quantity }}</td>
      <td>
        <button class="btn btn-light" (click)="panierService.addItemsToCart(item)"><i class="bi bi-plus-circle"></i></button>
        <button class="btn btn-light" (click)="panierService.decrementFromCart(item)"><i class="bi bi-dash-circle"></i></button>
    </tr>
    <tr>
      <td colspan="5">
        <strong> Total :</strong> {{totalAmount}} €
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <table style="width: 100%">
    <tbody>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <a class="btn button">Commander</a>
        <a (click)="panierService.clearCart()" class="btn button">Vider le panier</a>
    </tr>
    </tbody>
  </table>
</div>
</body>
