<!DOCTYPE html>
<body>
<div *ngIf="cartItems.length === 0">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Votre panier est vide.</strong>
  </div>
</div>
<div *ngIf="cartItems.length !== 0">
  <table class="table text-center">
    <thead class="table-warning">
    <tr>
      <th>Produit</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.name }}</td>
      <td>{{ item.price }} €</td>
      <td>{{ item.quantity }}</td>
      <td>{{ (item.price * item.quantity).toFixed(2) }} €</td>
      <td>
        <button class="btn btn-light" (click)="panierService.addItemsToCart(item)"><i class="bi bi-plus-circle"></i></button>
        <button class="btn btn-light" (click)="panierService.decrementFromCart(item)"><i class="bi bi-dash-circle"></i></button>
    </tr>
    <tr>
      <td colspan="5">
        <strong> Total :</strong> {{panierService.getTotalAmount()}} €
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <table style="width: 100%">
    <tbody>
    <tr>
      <td style="text-align: center; vertical-align: middle;">
        <button class="btn yellowButton" (click)="showConnectModal = true">Commander</button>

        <a (click)="panierService.clearCart()" class="btn yellowButton">Vider le panier</a>
    </tr>
    </tbody>
  </table>

  <div *ngIf="connectService.isConnected">
    <div class="modal" [class.active]="showConnectModal">
      <div class="modal-content">
        <p>La commande a bien été prise en compte. Vous pourrez venir la chercher dans une dizaine de minutes.</p>
        <button (click)="showConnectModal = false" class="btn btn-light">Fermer</button>
      </div>
    </div>
  </div>

  <div *ngIf="!connectService.isConnected">
    <div class="modal" [class.active]="showConnectModal">
      <div class="modal-content">
        <p>Veuillez d'abord vous connecter.</p>
        <button routerLink="/signup" class="btn btn-light">Se connecter</button>
        <button (click)="showConnectModal = false" class="btn btn-light">Fermer</button>
      </div>
    </div>
  </div>

</div>
</body>

