.navbar {
  background-color: transparent;
  box-shadow: none;
  padding: 1rem 0;

  .nav-item {
    margin: 0 5px;

    .btn {
      background-color: #EDD1A1;
      color: #5C3D2E;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken(#EDD1A1, 10%);
        color: #FFF;
      }

      .nav-link {
        color: inherit;
        padding: 0;
        display: block;

        &:hover {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}


@media (min-width: 992px) {
  .navbar {
    .container {
      display: flex;
      justify-content: center;
    }
  }
}

.card {
  width: 18rem;
  margin-bottom: 1rem;

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .card-body {
    padding: .5rem;

    .card-title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .card-text {
      font-size: .875rem;
      margin-bottom: .5rem;
    }

    .btn {
      background-color: #EDD1A1;
      color: #5C3D2E;
      border: none;
      border-radius: .25rem;
      padding: .375rem .75rem;
      font-size: .875rem;
      transition: background-color .3s ease;

      &:hover {
        background-color: darken(#EDD1A1, 10%);
        color: #FFF;
      }
    }
  }
}
/*.menu-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Ajustez la hauteur selon vos besoins
  img.menu-item-animation {
    width: 500px; // Ajustez la taille selon vos besoins
    opacity: 0;
    transform: translatey(20px);
    animation: slideAndFadeIn 2s ease forwards;
    padding-top: 50px;
  }
}

@keyframes slideAndFadeIn {
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

.slideshow-container {
  overflow: hidden; // Hide the overflow
  width: 50%;
  justify-content: center;
  margin-left: 350px;

}

.slide-track {
  display: flex;
  transition: transform 0.5s ease-out; // Smooth transition for the sliding effect
}

.slide {
  width: 100%;
  flex: 0 0 auto; // Prevent the slide from growing or shrinking
}*/
.slideshow-container {
  overflow: hidden;
  width: 30%;
  height: 25%;
  justify-content: center;
  justify-items: center;
  margin-left: 550px;

}

.slide-track {
  display: flex;
  transition: transform 0.5s ease-out;
  width: calc(100% * 8); // Replace numberOfSlides with the actual number
}

.slide {
  width: calc(100% / 8); // Replace numberOfSlides with the actual number
  flex-shrink: 0; // Prevent the slides from shrinking
  justify-content: center;

}


