<!DOCTYPE html>
<body>
<div *ngIf="cartItems.length === 0">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Votre panier est vide.</strong>
  </div>
</div>
<div *ngIf="cartItems.length !== 0">
  <table class="table text-center">
    <thead class="table-warning">
    <tr>
      <th>Produit</th>
      <th>Prix unitaire</th>
      <th>Quantité</th>
      <th>Total</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cartItems">
      <td>{{ item.name }}</td>
      <td>{{ item.price }} €</td>
      <td>{{ item.quantity }}</td>
      <td>{{ (item.price * item.quantity).toFixed(2) }} €</td>
      <td>
        <button class="btn btn-light" (click)="panierService.addItemsToCart(item)"><i class="bi bi-plus-circle"></i>
        </button>
        <button class="btn btn-light" (click)="panierService.decrementFromCart(item)"><i class="bi bi-dash-circle"></i>
        </button>
    </tr>
    <tr>
      <td colspan="5">
        <strong> Total :</strong> {{panierService.getTotalAmount()}} €
      </td>
    </tr>
    </tbody>
  </table>
  <br>
  <table>
    <tbody>
    <tr>
      <td>
        <button class="btn yellowButton" (click)=showCommandeModal()>Commander</button>
        <a (click)="panierService.clearCart()" class="btn yellowButton">Vider le panier</a>
    </tr>
    </tbody>
  </table>

  <div *ngIf="connectService.isConnected">
    <div class="classiqueModal" [class.active]="commandeModalIsVisible">
      <app-commande-modal (closeEvent)="closeCommandeModal($event)" ></app-commande-modal>
    </div>
  </div>

  <div *ngIf="!connectService.isConnected">
    <div class="classiqueModal" [class.active]="commandeModalIsVisible">
      <app-commande-ncmodal (closeEvent)="closeCommandeModal($event)"></app-commande-ncmodal>
    </div>
  </div>

</div>
</body>

