<div class="container mt-5">
  <h2 class="mb-4">Réserver une table</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="makeReservation()">
    <div class="form-group" [class.has-error]="isInvalid('nom')">
      <label for="nom">Nom</label>
      <input type="text" id="nom" class="form-control" formControlName="nom">
    </div>
    <div class="form-group" [class.has-error]="isInvalid('email')">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group" [class.has-error]="isInvalid('date')">
      <label for="date">Date</label>
      <input type="date" id="date" class="form-control" formControlName="date">
    </div>
    <div class="form-group" [class.has-error]="isInvalid('heure')">
      <label for="heure">Heure</label>
      <input type="time" id="heure" class="form-control" formControlName="heure">
    </div>
    <div class="form-group" [class.has-error]="isInvalid('nombrePersonnes')">
      <label for="nombrePersonnes">Nombre de personnes</label>
      <input type="number" id="nombrePersonnes" class="form-control" formControlName="nombrePersonnes">
    </div>
    <button type="button" class="btn btn-primary"  (click)="makeReservation()" > Réserver</button>

    <div class="modal" tabindex="-1" role="dialog" *ngIf="showModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Reservation Summary</h5>
            <button type="button" class="close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Name: {{ reservationForm.get('nom')?.value }}</p>
            <p>Email: {{ reservationForm.get('email')?.value }}</p>
            <p>Date: {{ reservationForm.get('date')?.value }}</p>
            <p>Time: {{ reservationForm.get('heure')?.value }}</p>
            <p>Number of Guests: {{ reservationForm.get('nombrePersonnes')?.value }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
          </div>
        </div>
      </div>
    </div>

  </form>

    <!-- Reservation Modal -->


    <!-- Reservation Form Button -->





</div>
