.reservation-form {
  font-family: 'Roboto', sans-serif; / Example font /
/ background: url('C:\Users\belha\Downloads\rut.jpg') no-repeat center center;/
padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s;

    &:focus {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
  }

  button {
    background-color: #FFBD59; / This is just an example, adjust as you see fit */
  transition: background-color 0.3s;

    &:hover {
      background-color: darken(#FFBD59, 10%);
    }
  }
  .has-error input {
    color: red;
  }

}
