<body>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input required type="email" id="email" class="form-control" formControlName="email">
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input required type="password" id="password" class="form-control" formControlName="password">
  </div>
  <button (click)=showConnectModal() type="submit" class="btn yellowButton">Se connecter</button>
</form>

<div *ngIf="isConnected">
  <div class="classiqueModal" [class.active]="connectModalIsVisible">
    <app-connect-modal (closeEvent)="closeConnectModal($event)"></app-connect-modal>
  </div>
</div>

<div *ngIf="!isConnected">
  <div class="classiqueModal" [class.active]="connectModalIsVisible">
    <app-connect-ncmodal (closeEvent) = "closeConnectModal($event)"></app-connect-ncmodal>
  </div>
</div>

</body>
