#background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 70px;
}

.yellowButton {
  background-color: #FFBD59;
}

.right-button {
  float: right;
}



@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
